<?xml version='1.0' encoding='UTF-8'?>
<plugin
    id="cordova-plugin-3dtouch"
    version="1.2.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>3D Touch</name>

  <author>Eddy Verbruggen - @EddyVerbruggen</author>

  <description>Add Quick Actions to your Home Screen which can be triggered by 3D Touch. Also, you can enable Link Preview with this plugin. Supported on iPhone6S an up.</description>

  <keywords>3DTouch, 3D Touch, Force Touch</keywords>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <js-module name="ThreeDeeTouch" src="www/ThreeDeeTouch.js">
    <clobbers target="ThreeDeeTouch"/>
  </js-module>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="ThreeDeeTouch">
        <param name="ios-package" value="ThreeDeeTouch"/>
        <param name="onload" value="true"/>
      </feature>
      <!--<preference name="deployment-target" value="9.0"/>-->
    </config-file>

    <header-file src="src/ios/app/ThreeDeeTouch.h"/>
    <source-file src="src/ios/app/ThreeDeeTouch.m"/>
    <header-file src="src/ios/app/AppDelegate+threedeetouch.h"/>
    <source-file src="src/ios/app/AppDelegate+threedeetouch.m"/>
  </platform>

</plugin>
